<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/user/editProfile" method="POST" class="form col-6">
				<label class="form-label" >Email:</label><br>
				<input type="email" id="email" name="email" class="form-input" placeholder="Ingrese cambios en el email"><br>
				
				<label class="form-label" >Usuario:</label><br>
				<input type="text" id="usuario" name="usuario" class="form-input" placeholder="Ingrese nuevo nombre de usuario"><br>
				
				<label class="form-label" >Contraseña:</label><br>
				<input type="password" id="contraseña" name="contraseña" class="form-input" placeholder="Ingrese nueva contraseña"><br>
				
				<label class="form-label"> Fecha de Nacimiento:</label><br>
				<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-input" placeholder="Ingrese nueva fecha de nacimiento"><br>
				
				<label class="form-label" >Número de Documento:</label><br>
				<input type="number" id="nro_documento" name="nro_documento" class="form-input" placeholder="Ingrese nuevo dni"><br>
				
				<label class="form-label" >Foto de Perfil:</label><br>
				<input type="text" id="foto_perfil" name="foto_perfil" class="form-input" placeholder="Ingrese nombre de la nueva imagen"><br>
				
				<input type="submit" class="buy-now-button" value="Registrar Cambios">
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>