<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/user/editProfile" method="POST" class="clase-editprofile">
				<label>Email:</label><br>
				<input type="email" id="email" name="email" required><br>
				
				<label>Usuario:</label><br>
				<input type="text" id="usuario" name="usuario" required><br>
				
				<label>Contraseña:</label><br>
				<input type="password" id="contraseña" name="contraseña" required><br>
				
				<label>Fecha de Nacimiento:</label><br>
				<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>
				
				<label>Número de Documento:</label><br>
				<input type="number" id="nro_documento" name="nro_documento" required><br>
				
				<label>Foto de Perfil:</label><br>
				<input type="text" id="foto_perfil" name="foto_perfil"><br>
				
				<input type="submit" value="Registrar Cambios">
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>