.logomarca {
  width:10px;
  height: auto;
}

.main-navbar li a:hover {
  color: white;
}

.main-header_credit-link {
  font-family: "Playfair Display", serif;
  color: #703F30;
  font-size: 17px;
}

.main-navbar {
  font-family: "Playfair Display", serif;
  color: #703F30;
  font-size: 15px;
}


p,h2 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: black;
}

.products-title {
  color: #703F30;
  font-size: 30px;
}

body {
  padding: 10px 0;
  background-color: #d387873b;
  height: 195px;
}

.logout{
  font-family: "Playfair Display", serif;
  color: #703F30;
}

form button.logout:hover{
  color: white;
}

.claseform{
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: black;
  font-size: 20px;
  font-style: none;
}

.claseregistro{
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: black;
  font-size: 20px;
  font-style: none;
}

.main-header {
  height: 205px;
}

.clase-productadd{
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: black;
  font-size: 20px;
  font-style: none;
}

.clase-editprofile{
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: black;
  font-size: 20px;
  font-style: none;
};

/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/


